@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a web application where you can manage your favorite jokes so you can always tell them to your friends at any time.</p>
</div>
